.footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;

    &__logo {
        margin-top: 30px;
    }

    &__texte {
        color: white;
        font-size: 24px;
    }

}