.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__logo {
        max-width: 210px;
        width: clamp(145px, calc(105.81px + 10.45vw), 210.32px);;
    }

    &__links {
        display: flex;
        gap: 40px;
        font-size: 24px;
        font-weight: 500;
    }

    &__link--active {
        text-decoration: underline;
    }

}

@media screen and (max-width: 768px) {
    
    .header {

        &__links {
            font-size: 18px;
        }
    }

}

@media screen and (max-width: 375px) {
    
    .header {

        &__links {
            font-size: 12px;
        }
    }

}

