.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }

    &__logo {
        max-width: 210px;
    }

    &__links {
        display: flex;
        gap: 40px;
    }

    &__link--active {
        text-decoration: underline;
    }

}