.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__logo {
        max-width: 210px;
    }

    &__links {
        display: flex;
        gap: 40px;
        font-size: 24px;
        font-weight: 500;
    }

    &__link--active {
        text-decoration: underline;
    }

}