@use "../abstracts/variables.scss";

.colapse {
    display: flex;
    flex-direction: column;
    max-width: 582px;
    min-width: 335px;
    width: 100%;

    &--a-propos {
        max-width: 1023px;
        min-width: 335;
        width: 100%;
    }


    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: variables.$secondary-color;
        border: none;
        padding: 15px;
        border-radius: 5px;

        &--annonce {
            max-width: 582px;
            width: 100%;
        }

        &--a-propos {
            max-width: 1023px;
            width: 100%;
        }
    }

    &__title {
        color: white;
        font-size: 18px;
    }

    &__icon {
        color: white;
        font-size: 22px;
        transition: transform 0.5s ease;

        &--open {
            transform: rotate(-180deg);
        }
    }

    &__content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 500ms ease;
        width: 100%;

        &--a-propos {
            max-width: 1023px;
            width: 100%;
        }
    }

    &--open &__content {
        max-height: 240px;
    }
    
}

@media screen and (max-width: 768px) {
    .colapse {

        &--annonce {
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

    @media screen and (max-width: 375px) {

        .colapse {

        &__button {
            height: 30px;
        }

        &__title {
            font-size: 13px;
        }

        &__content {

            &--open &__content {
                max-height: 250px;
            }
        }
    }
}