.cardlist {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 340px 340px 340px;
    gap: 40px;
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cardlist {

    &__list {

      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 375px) {

  .cardlist {
    padding: 40px 0;

    &__list {
      padding: 0px;
    }
  }
}