.card {
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    &__title {
        left: 16px;
        right: 20px;
        bottom: 16px;
        margin: 0;
        position: absolute;
        color: white;
        font-size: 18px;
        z-index: 1;

    }
}