.star {
    display: flex;
    gap: 10px;

    &__item {
        font-size: 23px;
    }

    &__item--empty {
        color: #E3E3E3;
    }

    &__item--full {
        color: #FF6060;
    }
}

@media screen and (max-width: 375px) {

    .star {

        &__item {
            font-size: 16px;
        }
    }
}