@use "../abstracts/variables.scss";

.annonce {

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: variables.$secondary-color;
        font-size: 36px;
        font-weight: 500;
        margin-top: 40px;
    }

    &__location {
        font-size: 18px;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 40px;
    }

    &__host {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__host-name {
        max-width: 93px;
        color: variables.$secondary-color;
        text-align: right;
    }

    &__photo-hote {
        width: 64px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 196px;
    }

    &__details {
        display: flex;
        justify-content: flex-start;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__details>.colapse {
            flex: 1 1 0;
            min-width: 320px;
            max-width: 582px;
        }

    &__panel-description {
        padding: 15px;
        background-color: #f7f7f7;
        border-radius: 15px;
    }
}

@media screen and (max-width: 768px) {
    .annonce {

        &__top {
            flex-direction: column;
        }

        &__aside {
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
        }

        &__details {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__host-name {
            font-size: 16px;
        }

        &__photo-hote {
            width: 55px;
        }
    }
}

@media screen and (max-width: 375px){
    .annonce {
        
        &__title {
            font-size: 18px;
        }

        &__location {
            font-size: 14px;
        }

        &_rating {
            justify-content: flex-start;
        }

        &__host-name {
            font-size: 12px;
        }

        &__photo-hote {
            width: 32px;
        }
    }
    
}