.a-propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;

    &__banner {
        overflow: hidden;
        width: 100%;
        height: 223px;

        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .fiabilite,
    .respect,
    .service,
    .securite {
       max-width: 1023px;
       width: 100%;
    }
}