.a-propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;

    &__banner {
        width: 1240px;
        height: 223px;
        overflow: hidden;
    }

    .fiabilite,
    .respect,
    .service,
    .securite {
        width: 1023px;
    }
}