@use "../abstracts/variables.scss";

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;

    &__title {
        font-size: 288px;
        color: variables.$secondary-color
    }

    &__subtitle {
        font-size: 36px;
        color: variables.$secondary-color
    }

    &__link {
        font-size: 18px;
        text-decoration: underline;
    }
}