@use "../abstracts/variables.scss";

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    flex: 1;

    &__title {
        font-size: 288px;
        color: variables.$secondary-color
    }

    &__subtitle {
        font-size: 36px;
        color: variables.$secondary-color
    }

    &__link {
        font-size: 18px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    
    .error {

        &__title {
            font-size: 140px;
        }
    }
}

@media screen and (max-width: 375px) {
    
    .error {
        &__title {
            font-size: 96px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__link {
            font-size: 14px;
        }
    }
}