.hero__section {
    height: 220px;
    border-radius: 25px;
    overflow: hidden;
    background:
        linear-gradient(rgba(0, 0, 0, 0.60)),
        url("../../assets/Image\ source\ 1.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}

.hero__title {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin: 0 auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}